@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&family=IBM+Plex+Sans:wght@400;700&display=swap");

/* GERAL */

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  max-width: 940px;
  margin: 0 auto;
}

.column {
  flex-direction: column;
}
