/* NAVBAR */

.navbar {
  position: fixed;
  width: 100%;
  background: none;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  padding: 30px 80px;
  z-index: 100;
  transition: 0.6s;
}

.navbar .logo {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: bold;
  font-size: 3em;
  align-self: center;
}

.navbar .logo a {
  text-decoration: none;
  color: #fff;
}

.navbar ul {
  list-style: none;
  display: flex;
  align-self: center;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-family: "IBM Plex Mono";
  font-weight: bold;
  padding: 20px;
  text-transform: uppercase;
}

.navbar ul li a:hover,
.navbar .logo a:hover {
  color: #6ff;
}

/* FIXED TOP ON SCROLL */

.navbar.barra-ativa {
  top: 0;
  background: #222c;
  box-shadow: 0 0 10px 0;
  padding: 10px 80px;
}
