@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&family=IBM+Plex+Sans:wght@400;700&display=swap");

/* GERAL */

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  max-width: 940px;
  margin: 0 auto;
}

.column {
  flex-direction: column;
}

/* NAVBAR */

.navbar {
  width: 100%;
  background: #222;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  padding: 20px 80px;
}

.navbar {
  width: 100%;
  background: #222;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  padding: 10px 80px;
}

.navbar .logo {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: bold;
  font-size: 3em;
  align-self: center;
}

.navbar .logo a {
  text-decoration: none;
  color: #fff;
}

.navbar ul {
  list-style: none;
  display: flex;
  align-self: center;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-family: "IBM Plex Mono";
  font-weight: bold;
  padding: 20px;
  text-transform: uppercase;
}

.navbar ul li a:hover,
.navbar .logo a:hover {
  color: #6ff;
}

/* HEADER */

.header {
  width: 100%;
  background: #222;
}

.header-content {
  flex-direction: column;
  justify-content: space-around;
  padding: 160px 0;
  color: #fff;
}

.header-content span {
  font-family: "IBM Plex Mono";
  font-size: 1em;
  color: #6ff;
  margin: 20px 0;
}

.header-content h1 {
  font-family: "IBM Plex Sans";
  font-weight: bold;
  font-size: 6em;
  text-transform: uppercase;
  margin: 20px 0 10px 0;
  display: flex;
  position: relative; /* ISSO AQUI É O SEGREDO DO SUCESSO TA */
  z-index: 1;
}

.header-content h1::after {
  content: "";
  position: absolute;
  height: 200px;
  width: 200px;
  background: url("../img/squared-particle.png") 0 0 no-repeat;
  right: 200px;
  z-index: -1;
}

.header-content .phrase {
  font-family: "IBM Plex Sans";
  font-weight: bold;
  font-size: 3em;
  color: #888;
  text-transform: uppercase;
  margin: 10px 0 20px 0;
  z-index: 1;
}

.header-content p.text {
  font-family: "IBM Plex Mono";
  font-size: 1em;
  max-width: 460px;
  line-height: 1.5em;
  margin: 20px 0;
}

.header-content p.text a {
  text-decoration: underline;
  color: #6ff;
}

/* ABOUT */

.about {
  width: 100%;
  background: #222;
  padding: 60px 0;
}

.about::before {
  content: "";
  position: absolute;
  width: 31px;
  height: 1000px;
  background: url("../img/left-list-particle.svg") 0 0 no-repeat;
  left: 40px;
  top: 460px;
}

.about::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 1000px;
  background: #fff;
  right: 40px;
  top: 460px;
}

.about h2 {
  font-family: "IBM Plex Sans";
  font-weight: bold;
  font-size: 4em;
  text-transform: uppercase;
  display: flex;
  position: relative; /* ISSO AQUI É O SEGREDO DO SUCESSO TA */
  color: #fff;
  max-width: 940px;
}

.about h2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  background: url("../img/topic-underliner-particle.svg") 0 0 no-repeat;
  bottom: -10px;
}

.about .about-content {
  padding: 20px 0;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.about .about-content .content-wrap p {
  font-family: "IBM Plex Mono";
  font-size: 1em;
  max-width: 460px;
  line-height: 1.5em;
  margin: 20px 0;
  color: #fff;
}

.about .about-content .content-wrap p a {
  font-family: "IBM Plex Mono";
  font-size: 1em;
  max-width: 500px;
  line-height: 1.5em;
  margin: 20px 0;
  color: #6ff;
}

.about .about-content .content-wrap ul {
  display: flex;
}

.about .about-content .content-wrap ul li img {
  width: 100%;
}

.about .about-content .profile-pic {
  margin: 20px 0;
}

.about .about-content .profile-pic img {
  width: 100%;
}

/* PROJECTS */

.projects {
  padding: 60px 0;
  align-items: flex-end;
}

.projects h2 {
  font-family: "IBM Plex Sans";
  font-weight: bold;
  font-size: 4em;
  text-transform: uppercase;
  display: flex;
  position: relative; /* ISSO AQUI É O SEGREDO DO SUCESSO TA */
  color: #000;
  max-width: 940px;
}

.projects h2::after {
  content: "";
  position: absolute;
  width: 960px;
  height: 10px;
  background: url("../img/topic-underliner-particle-black.svg") 0 0 no-repeat;
  right: -20px;
  bottom: -10px;
}

.projects ul {
  margin-top: 80px;
  display: flex;
  position: relative;
}

.projects ul::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 460px;
  background: #bbb;
  left: -30px;
  top: 90px;
  border-radius: 10px;
}

.projects ul li {
  padding: 20px 40px;
  background: url("../img/project-item-bg.svg") 0 0 no-repeat;
  background-size: 100% 100%;
  margin-bottom: 20px;
  position: relative;
}

.projects ul li::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: #fff;
  left: -40px;
  top: 90px;
  border-radius: 10px;
  border: 1px solid black;
}

.projects ul li h3 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.5em;
  position: relative;
  display: block;
}

.projects ul li h3::after {
  content: "";
  width: 70px;
  height: 1px;
  background: #000;
  display: block;
  margin: 10px 0;
}

.projects ul li p {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1em;
  line-height: 1.5em;
  position: relative;
  display: block;
}

.projects ul li a {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  text-decoration: none;
  color: #6ff;
  background: #000;
  display: inline-block;
  position: relative;
  padding: 3px 16px;
  margin: 20px 10px 0 0;
}

.projects ul li a::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border-bottom: 10px solid #fff;
  border-left: 10px solid transparent;
  bottom: 0;
  right: 0;
}

.projects ul li a::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 10px solid #fff;
  border-right: 10px solid transparent;
  left: 0;
  top: 0;
}

.projects ul li a:hover {
  color: #000;
  background: #6ff;
}

.projects .btn-cyberpunk {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  background: #6ff;
  display: inline-block;
  position: relative;
  padding: 20px 30px;
  margin: 0 auto;
  border: 1px solid #000;
}

.projects .btn-cyberpunk::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border-bottom: 20px solid #fff;
  border-left: 20px solid transparent;
  bottom: -1px;
  right: -1px;
}

.projects .btn-cyberpunk::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border-bottom: 21px solid #000;
  border-left: 21px solid transparent;
  bottom: -1px;
  right: -1px;
}

.projects .btn-cyberpunk:hover {
  color: #6ff;
  background: #000;
}

/* FOOTER */

.footer {
  font-family: "IBM Plex Sans", sans-serif;
  width: 100%;
  height: auto;
  padding: 20px;
  text-align: center;
  background: #222;
  color: #fff;
}

.footer p {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer .social-medias a {
  margin: 0 10px;
}

/* RESPONSIVIDADE */

@media (max-width: 1200px) {
  .container {
    width: none;
    max-width: 600px;
    flex-direction: column;
  }

  /* NAVBAR */

  .navbar ul {
    display: none;
  }

  /* ABOUT */

  .about-content {
    flex-direction: column;
  }

  .about .about-content .content-wrap p {
    max-width: 700px;
  }

  .about::before,
  .about::after {
    display: none;
  }

  /* PROJECTS */

  .projects h2::after {
    width: 600px;
    background: url("../img/topic-underliner-particle-black.svg") -338px 0 no-repeat;
    right: 0px;
    bottom: -10px;
  }

  .projects ul::before {
    height: 540px;
  }

  .projects ul li {
    padding: 20px;
    background: url("../img/project-item-responsive-bg.svg") 0 0 no-repeat;
  }
}

@media (max-width: 800px) {
  .container {
    margin: 0 60px;
  }

  /* HEADER */

  .header h1 {
    font-size: 4em;
  }

  /* ABOUT */

  .about h2,
  .projects h2 {
    font-size: 3em;
  }

  .about h2::after {
    background-image: none;
    width: 100px;
    background: #fff;
  }

  /* PROJECTS */

  .projects h2::after {
    background-image: none;
    width: 100px;
    background: #000;
  }

  .projects ul::before {
    display: none;
  }

  .projects ul li {
    padding: 20px;
    background-image: none;
    border: 1px solid #000;
  }

  .projects ul li::before {
    display: none;
  }
}
